<head>
	<title>{{ .Site.Title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="This paper describes the IBM Cloud Paks and illustrates how the underlying technical requirements and resulting architecture drive a compelling value proposition. It focuses on the value proposition of the overall platform itself rather than individual capabilities available within each Cloud Pak."/>
	<meta name="author" content="Andre Tost, Mike Kaczmarski, Roland Barcia, Pam Andrejko"/>
	<meta name="thumbnail" content="images/wordcloud.svg"/>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-GLSBYZF7PG"></script>
	<meta property="og:title" content="IBM Cloud Paks value proposition and technical architecture" />
	<meta property="og:url" content="https://ibm.github.io/cloudpak-platform-paper/" />
	<meta name="image" property="og:image" content="https://ibm.github.io/cloudpak-platform-paper/images/wordcloud.png" />
	<meta property="og:type" content="article" />
	<meta name="description" property="og:description" content="This paper shows how the underlying technical requirements of the IBM Cloud Paks and the resulting architecture drive a compelling value proposition for the Cloud Pak platform." />
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-GLSBYZF7PG');
	</script>
	{{ template "_internal/google_analytics.html" . }}
	{{ if .Site.Params.favicon }}
	{{ partial "template/favicon" }}
	{{ end }}
	<!-- CSS -->
	{{ if .Site.IsServer }}
	{{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "scss/main.scss" . | toCSS (dict "targetPath" "assets/css/main.css" "outputStyle" "compressed" "enableSourceMap" false) }}
	<link rel="stylesheet" href="{{ ($style).RelPermalink }}">
	{{ else }}
	{{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "scss/main.scss" . | toCSS (dict "targetPath" "assets/css/main.css" "enableSourceMap" false) }}
	<link rel="stylesheet" href="{{ ($style | minify).RelPermalink }}">
	{{ end }}
	{{ if .Site.IsServer }}
	{{ $noscript := resources.Get "sass/noscript.scss" | resources.ExecuteAsTemplate "noscript.scss" . | toCSS (dict "targetPath" "assets/css/noscript.css" "enableSourceMap" false) }}
	<noscript><link rel="stylesheet" href="{{ ($noscript).RelPermalink }}" /></noscript>
	{{ else }}
	{{ $noscript := resources.Get "sass/noscript.scss" | resources.ExecuteAsTemplate "noscript.scss" . | toCSS (dict "targetPath" "assets/css/noscript.css" "enableSourceMap" false) }}
	<noscript><link rel="stylesheet" href="{{ ($noscript | minify).RelPermalink }}" /></noscript>
	{{end}}
</head>
